* {
  margin: 0;
  padding: 0;
  color: aliceblue;
}
.dashboard {
  display: flex;
}
.left-dashboard {
  width: 63vw;
  height: 90vh;
  padding: 37px;
  display: flex;
  flex-direction: column;
  background-color: black;
}
.right-dashboard {
  width: 28.5vw;
  height: 90vh;
  background-color: black;
  padding-top: 37px;
  padding-bottom: 37px;
  padding-left: 34px;
  padding-right: 23px;
  display: flex;
  flex-direction: column;
}
.top {
  display: flex;
}
.top-left {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.profile-section {
  border-radius: 19px;
  background: #5746ea;
  width: 34em;
  height: 13em;
  padding: 20px;
  flex-shrink: 0;
  margin-bottom: 20px;
}
.weather-section {
  border-radius: 19px;
  background: #101744;
  width: 36.3em;
  height: 10em;
  flex-shrink: 0;
}
.notes-section {
  border-radius: 19px;
  background: #f1c75b;
  height: 26.5em;
  width: 22em;
  flex-shrink: 0;
  margin-left: -40px;
}
.timer-section {
  border-radius: 19px;
  background: #1e2343;
  width: 60em;
  height: 11em;
  margin-top: 15px;
  padding: 20px;
  flex-shrink: 0;
}
.news-section {
  border-radius: 19px 19px 0px 0px;
  width: 26em; 
  height: 41em; /*30em*/
}
